header {
    height: 100rem;
    position: relative;
    background: rgb(63,55,201);
    background: linear-gradient(0deg, rgba(63,55,201,1) 21%, rgba(58,12,163,1) 48%);


}
@media only screen and (max-width: 2000px) {
 header{
     height: 80rem;
 }
}


@media only screen and (max-width: 1450px) {
    header{
        height: 65rem;
    }
}
.header-info__text .logo {
    display: none;
}
.navbar {
    position: fixed;
    cursor: none !important;
    height: 4rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    z-index: 10;

    width: 100%;
}

.navbar__close {
    display: none;
}

#cursor {
    position: fixed;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--pink);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.15s ease;
    mix-blend-mode: normal;
}

.navbar:hover #cursor {
    opacity: 1;
}


.navbar__icon {
    padding-left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: flex-start;
}
.navbar__icon a {
    cursor: none;
}


.navbar__icon img {
    max-width: 10rem;
}
.navbar__icon img:hover {
    /* cursor: pointer; */
}


.navbar__menu {
    flex-grow: 20;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar__contact {
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__contact a {
    color: var(--pink);
    font-weight: bold;
    text-shadow:
            0 0 4px var(--pink);
}

.navbar__bar-lines {
    display: none;
}

.navbar__menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar__menu__item a {
    cursor: none;
}

.navbar__menu__item.active a {
    font-weight: bold;
}


.navbar__menu__item__circle {
    width: 10px;
    height: 10px;
    margin-right: 1em;
    background-color: var(--pink);
    border-radius: 50%;
    opacity: 0;
}
.navbar__menu__item__circle.active {
    -webkit-animation: circle-popin 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: circle-popin 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes circle-popin {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes circle-popin {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}


.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header-info__devices {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.header-info__devices #wave {
    width: 100%;
}

.header-info__devices #devices {
    position: absolute;
    z-index: 2;
    top: 52%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.header-info__circle:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    top: 16rem;
    left: 57%;
}

.header-info__circle:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 7rem;
    margin-left: 14%;
    width: 3.5rem;
}

.header-info__circle:nth-of-type(3) {
    position: absolute;
    z-index: 1;
    top: 9rem;
    margin-left: 31%;
}


.header-info__text {
    width: 50%;
}

.header-info__text>div {
    position: relative;
    padding-top: 12rem;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 2;
    width: 100%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    margin-bottom: 20rem;

}

.header-info__text>div img{
    width: 25rem;
    margin: auto;
}

.header-info__text h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.8rem;
    padding-bottom: 1rem;
}

.header-info__text p {
    color: #e5e5e5;


    text-align: justify;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 0;

}


.header-info__text b {
    font-weight: 600;
}

.header-info__text__buttons {
    margin-top: 4%;
}

.header-info__text button {
    border: 2px solid var(--pink);
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    padding: 0.3rem 1.4rem;
    transition: all 0.3s ease;
}


.header-info__text button:hover {
    transform: translateY(-1rem);
    background-color: var(--pink);
    cursor: pointer;
}


/* BOTTOM DIVIDER */
.header-info__ending {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.header-info__ending svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.header-info__ending .shape-fill {
    fill: #FFFFFF;
}

.mobile-devices{
    display: none;
    min-width: 70%;
}

/* RESPONSIVE */

@media only screen and (max-width: 1110px) {
    .header-info__text .logo {
     display: block;
    }

    header {
        background: linear-gradient(0deg, rgba(63,55,201,1) 21%, rgba(58,12,163,1) 48%);

    }

    #cursor {
        display: none;
    }

    .navbar {
        cursor: unset !important;
        height: 4rem;
        position: fixed;
        width: 100%;
        background-color: var(--blue);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        z-index: 10;
    }

    .navbar--active {
        transition: all 1s cubic-bezier(0.8, 0.2, 0.25, 1);
        padding-top: 1rem;
        cursor: pointer;
        position: fixed;
        right: 0;
        opacity: 0;
        width: 40%;
        height: 100%;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
    }



    .navbar--active .navbar__close {
        display: block;
        position: absolute;
        top: 10px;
        right: 5%;
        color: var(--pink);
        transition: all 0.2s ease;
        z-index: 11;
    }

    .navbar--active .navbar__close:hover {
        color: var(--lighter-pink);
    }

    .navbar--active .navbar__icon {
        height: auto;
        display: flex;
        justify-content: unset;
        align-items: unset;
        flex-grow: unset;
        align-self: flex-start;
        text-align: center;
        padding: 0 10%;
        animation: image-appear 1s ease forwards;
    }

    @keyframes image-appear {
        0% {
            opacity: 0;
            width: 0;
        }
        100% {
            width: 90%;
            opacity: 1;

        }
    }

    .navbar__icon {
        padding: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: inherit;
        width: 10rem;
        align-self: unset;
    }

    .navbar__icon img {
        max-width: 100%;
    }

    .navbar--active .navbar__menu {
        flex-grow: unset;
        display: flex;
        height: auto;
        align-self: unset;
        opacity: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
        gap: 1rem;
        margin-top: 2rem;
        width: 100%;
        transition: all 1s ease;
        transition-delay: 0.2s;
    }
    .navbar--active .navbar__menu>div {
        display: inherit;
    }

    .navbar__menu {
        width: 0;
        opacity: 0;
        transition: all 1s ease;
    }
    .navbar__menu>div {
        display: none;
    }

    .navbar--active .navbar__contact {
        height: 3rem;
        flex-grow: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0;
        animation: appear 0.5s ease forwards 1s;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    .navbar__contact {
        display: none;
    }

    .navbar__bar-lines {
        display: flex;
        position: absolute;
        right: 10%;
        flex-direction: column;
        align-self: center;
        justify-self: flex-start;
        justify-content: space-evenly;
        height: 2rem;
        width: 2rem;
    }
    .navbar__bar-lines>div {
        width: 100%;
        border: 2px solid var(--pink);
        border-radius: 2rem;
        transition: all 0.2s ease;
    }
    .navbar__bar-lines:hover {
        cursor: pointer !important;
    }
    .navbar__bar-lines:hover>div{
        border: 2px solid var(--lighter-pink);
    }
    .navbar--active .navbar__bar-lines {
        display: none;
    }


    .navbar--active nav a {
        font-size: 1.2rem;
    }

    .navbar__menu__item a {
        cursor: pointer;
    }

    .header-info {
        padding-top: 6rem;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10rem;
        align-items: flex-start;
    }

    .header-info__devices {
        display: none;
        width: 80%;
        top: 20%;
        left: 20%;
    }
    .mobile-devices{
        display: block;
    }

    .header-info__devices #devices {
        width: 75%;
        transform: translate(-50%, -45%);
    }

    .header-info__text {
        width: 100%;
    }

    .header-info__text>div {
        padding-top: 3rem;
    }

    .header-info__text h2 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 1rem;

    }

    .header-info__text p {
        width: 100%;
        text-align: justify;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: auto;
        padding-bottom: 2rem;
        padding-right: 0;
    }

    .header-info__circle:nth-of-type(1) {
        position: absolute;
        z-index: 1;
        top: 11rem;
        left: 65%;
    }

    .header-info__circle:nth-of-type(2) {
        position: absolute;
        z-index: 1;
        top: 8rem;
        margin-left: 3%;
        width: 3.5rem;
    }

    .header-info__circle:nth-of-type(3) {
        position: absolute;
        z-index: 1;
        top: 2.3rem;
        margin-left: 40%;
    }

    .header-info__text__buttons {
        margin-top: 0.5rem;
        text-align: center;
    }

    .header-info__ending {
        display: none;
    }


}

@media only screen and (max-width: 1110px) {
   header{
       height: 80rem;
   }
}

@media only screen and (max-width: 580px) {
    .services {

    }
    .navbar--active {
        width: 78%;
    }
}

@media only screen and (max-width: 408px) {
    .services {
 height: 80rem;
    }
}

@media only screen and (max-width: 337px) {
    .services {
       height: 80rem;
    }
}

@media only screen and (max-width: 276px) {
    .services {
        height: 90rem;
    }
}