header {
    height: 64rem;
    position: relative;
}

.navbar {
    cursor: none !important;
    height: 6rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
}

#cursor {
    position: fixed;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--pink);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.15s ease;
    mix-blend-mode: normal;
}

.navbar:hover #cursor {
    opacity: 1;
}


.navbar__icon {
    padding-left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: flex-start;
}

.navbar__icon img {
    max-width: 13rem;
}
.navbar__icon img:hover {
    /* cursor: pointer; */
}


.navbar__menu {
    flex-grow: 20;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar__contact {
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__contact a {
    color: var(--pink);
    font-weight: bold;
}

.navbar__menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar__menu__item a {
    cursor: none;
}


.navbar__menu__item__circle {
    width: 10px;
    height: 10px;
    margin-right: 1em;
    background-color: var(--pink);
    border-radius: 50%;
    opacity: 0;
}
.navbar__menu__item__circle.active {
    -webkit-animation: circle-popin 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: circle-popin 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes circle-popin {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes circle-popin {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.34rem;
    font-weight: 300;
    letter-spacing: 2px;
}

nav a#active {
    font-weight: bold;
}

.header-info {
    display: flex;
    flex-direction: row;
}

.header-info__devices {
    width: 57%;
    position: relative;
}

.header-info__devices #wave {

}

.header-info__devices #devices {
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: 10rem;
    width: 60%;
}


.header-info__text {
    width: 43%;
}

.header-info__text div {
    position: relative;
    padding-top: 12rem;
    z-index: 2;
    width: 90%;
    margin: auto;
    color: white;
}

.header-info__text h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 1rem;
    text-shadow:
            0 0 5px #fff;
}

.header-info__text p {
    width: 83%;
    text-align: justify;
    font-weight: lighter;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

/* BOTTOM DIVIDER */

.custom-shape-divider-bottom-1649629872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649629872 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1649629872 .shape-fill {
    fill: #FFFFFF;
}