.our-projects {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 12rem;
    background: rgb(63, 55, 201);
    background: linear-gradient(0deg, rgba(63, 55, 201, 1) 35%, rgba(58, 12, 163, 1) 60%);
}

.our-projects__circle:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    top: 10rem;
    margin-left: 15%;
    width: 3.5rem;
}

.our-projects__circle:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 1rem;
    margin-left: 30%;
    width: 6rem;
    box-shadow: 0 0 13px var(--pink);
    border-radius: 50%;
}

.our-projects__circle:nth-of-type(3) {
    position: absolute;
    z-index: 1;
    top: 9rem;
    margin-left: 63%;
    width: 4.8rem;
}

.our-projects__circle:nth-of-type(4) {
    position: absolute;
    z-index: 1;
    top: 30rem;
    right: 16%;
    width: 9rem;
    box-shadow: 0 0 13px var(--pink);
    border-radius: 50%;
}

.our-projects__circle:nth-of-type(5) {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 11%;
    width: 2rem;
    box-shadow: 0 0 13px var(--pink);
    border-radius: 50%;
}

.our-projects__header {

}

.our-projects__header h1 {
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 3px white;
}

.our-projects__header__header-line {
    z-index: 2;
    position: relative;
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 13rem;
    margin: auto;
    box-shadow: 0 0 3px var(--pink);
}

.swiper.projects-swiper {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 90%;
    cursor: grabbing;
}

.swiper.projects-swiper .swiper-wrapper {
    padding-bottom: 4rem;
}

.swiper.projects-swiper .swiper-pagination-bullet-active {
    background-color: var(--pink) !important;
    box-shadow: 0 0 8px var(--pink) !important;
}

.swiper.projects-swiper .swiper-button-next, .swiper-button-prev {
    color: var(--pink) !important;
    top: 14rem !important;
}

.swiper.projects-swiper .swiper-pagination-bullet {
    width: 0.8rem !important;
    height: 0.8rem !important;
    transition: 0.4s ease;
}

.swiper.projects-swiper .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 6rem !important;
}

.swiper.projects-swiper .swiper-slide {

}

.swiper-slide__projects-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.swiper-slide__projects-slide__project {
    height: 28rem;
    position: relative;
    cursor: pointer;
}

.swiper-slide__projects-slide__project img {
    max-height: 100%;
    z-index: 2;
    position: relative;
    filter: brightness(100%);
    transition: all 0.2s ease;
    border-radius: 4px;
}

.swiper-slide__projects-slide__project__link {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    z-index: 3;
    opacity: 0;
    transition: all 0.2s ease;
    width: 80%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide__projects-slide__project__link > div {
    font-size: 1.6rem;
    font-weight: 100;
}

.swiper-slide__projects-slide__project:hover img {
    filter: brightness(30%);
}

.swiper-slide__projects-slide__project:hover .swiper-slide__projects-slide__project__link {
    opacity: 1;
}

.custom-shape-divider-bottom-1649647325 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649647325 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 212px;
}

.custom-shape-divider-bottom-1649647325 .shape-fill {
    fill: var(--white-background);
}

@media only screen and (max-width: 1010px) {
    .our-projects__circle:nth-of-type(1) {
        display: none;
    }

    .our-projects__circle:nth-of-type(2) {
        margin-left: 7%;
    }
}

@media only screen and (max-width: 590px) {
    .swiper.projects-swiper .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 2rem !important;
    }

    .swiper-slide__projects-slide__project {
        height: 23rem;
    }

    .swiper.projects-swiper .swiper-button-next, .swiper-button-prev {
        top: 11rem !important;
    }

    .our-projects__circle:nth-of-type(4) {
        top: 26rem;
    }
    .swiper-slide__projects-slide__project__link > div {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 467px) {
    .custom-shape-divider-bottom-1649647325 svg {
        height: 112px;
    }

    .our-projects {
        padding-bottom: 2rem;
    }

    .swiper.projects-swiper {
        margin-top: 2rem;
    }

    .our-projects__circle:nth-of-type(1) {
        display: none;
    }

    .our-projects__circle:nth-of-type(2) {
        display: none;
    }

    .our-projects__circle:nth-of-type(3) {
        display: none;
    }

    .our-projects__circle:nth-of-type(4) {
        display: none;
    }

    .our-projects__circle:nth-of-type(2) {
        display: none;
    }
}

@media only screen and (max-width: 467px) {
    .swiper-slide__projects-slide__project {
        height: 23rem;
    }

    .swiper.projects-swiper .swiper-button-next, .swiper-button-prev {
        top: 11rem !important;
    }
}