.our-projects {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 12rem;
    background-color: var(--purple);
}

.our-projects__header {

}

.our-projects__header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-shadow:
            0 0 3px white;
}

.our-projects__header__header-line {
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 13rem;
    margin: auto;
    box-shadow: 0 0 3px var(--pink);
}

.swiper.projects-swiper {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 90%;
    cursor: grabbing;
}

.swiper.projects-swiper .swiper-wrapper {
    padding-bottom: 4rem;
}

.swiper.projects-swiper .swiper-pagination-bullet-active {
    background-color: var(--pink) !important;
    box-shadow: 0 0 8px var(--pink) !important;
}

.swiper.projects-swiper .swiper-button-next, .swiper-button-prev {
    color: var(--pink) !important;
    top: 8rem !important;
}

.swiper.projects-swiper .swiper-pagination-bullet {
    width: 0.8rem !important;
    height: 0.8rem !important;
    transition: 0.4s ease;
}

.swiper.projects-swiper .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 6rem !important;
}

.swiper.projects-swiper .swiper-slide {

}

.swiper-slide__projects-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4rem 0 4rem;
    gap: 5rem;
}

.swiper-slide__projects-slide__project {
    width: 26rem;
    height: 15rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0 14px 23px 0 rgba(0,0,0,0.7);
}

.swiper-slide__projects-slide__project img {
    max-height: 100%;
    filter: brightness(100%);
    transition: all 0.2s ease;
    border-radius: 4px;
}

.swiper-slide__projects-slide__project__link {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: all 0.2s ease;
    width: 80%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide__projects-slide__project__link>div {
    font-size: 1.6rem;
    font-weight: 100;
}

.swiper-slide__projects-slide__project:hover img {
    filter: brightness(30%);
}

.swiper-slide__projects-slide__project:hover .swiper-slide__projects-slide__project__link {
    opacity: 1;
}

.custom-shape-divider-bottom-1649647325 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649647325 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 212px;
}

.custom-shape-divider-bottom-1649647325 .shape-fill {
    fill: var(--white-background);
}