.process {
    background-color: var(--white-background);
    padding-bottom: 6rem;
    position: relative;
}

.process h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--purple);
    text-shadow:
            0 0 2px var(--purple);
}

.process__header-line {
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 18rem;
    margin: auto;
    box-shadow: 0 0 2px var(--pink);
}

.process__time-line {
    margin: 3rem auto auto auto;
    width: 74rem;
    border-radius: 2rem;
    height: 10rem;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem 2rem 2rem;
}

.process__time-line__icon {
    height: 7rem;
    width: 7rem;
    background-color: var(--lighter-pink);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.process__time-line__icon:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.process__time-line__icon.active {
    background-color: var(--pink);
}

.process__time-line__arrow {
    width: 6rem;
}

.process__time-line__icon img {
    max-width: 100%;
}

@media only screen and (max-width: 1215px) {
    .process__time-line {
        width: 87vw;
        border-radius: 2rem;
        height: 15vw;
        gap: 1vw;
        padding: 2vw 2vw 2vw 2vw;
    }

    .process__time-line__icon {
        height: 9vw;
        width: 9vw;
    }

    .process__time-line__icon i {
        font-size: 3rem;
    }

    .process__time-line__arrow {
        width: 6vw;
    }
}

@media only screen and (max-width: 930px) {
    .process__time-line__icon i {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 713px) {
    .process__time-line__icon i {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 473px) {
    .process__time-line__icon i {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 650px) {

    .process h1 {
        font-size: 1.8rem;
    }

    .process__header-line {
        border-top: 7px solid var(--pink);
        width: 11rem;
    }

    .process__time-line {
        width: 90vw;
        height: 20vw;
        gap: 5vw;
        padding: 2vw 1vw 2vw 1vw;
    }

    .process__time-line__icon {
        height: 12vw;
        width: 12vw;
    }

    .process__time-line__arrow {
        display: none
    }
}

.process__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
    gap: 3rem;
    justify-content: center;
}

.process__description__left {
    width: 40rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
}


.process__description__left__header {

}

.process__description__left h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--purple);
}

.process__description__left__header-line {
    border-top: 5px solid var(--pink);
    border-radius: 1rem;
    width: 13rem;
    margin: auto;
}

.process__description__left p {
    padding: 4%;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 200;
}

.process__description__right {
    color: var(--blue);
    width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}

.process__description__contact {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: min-content;
    height: min-content;
}

.process__description__contact__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.process__description__right button{
    color: var(--blue);
    border: 4px solid var(--pink);
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.3rem 1.4rem;
    transition: all 0.3s ease;
}

.process__description__right button:hover {
    background-color: var(--pink);
    border-color: var(--blue);
    cursor: pointer;
}

.process__description__contact__line .line-icon {

    width: 3rem;
    text-align: center;
}

.process__description__contact__line .line-text {

}

.process__description__contact__line div i {
    color: var(--pink);
}

.process__description__contact__line div p {
    color: var(--blue);
    font-size: 1.3rem;
}

@media only screen and (max-width: 950px) {
    .process__description__left {
        width: 90%;
    }

    .process__description__right {
        width: 90%;
    }

    .process__description__left h2 {
        font-size: 1.4rem;
    }

    .process__description__right {
        padding: 5% 0;
    }

    .process__description__right button{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }
}

.custom-shape-divider-bottom-1649729821 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649729821 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 49px;
}

.custom-shape-divider-bottom-1649729821 .shape-fill {
    fill: var(--purple);
}