

header {
    height: 64rem;
    position: relative;
}

.navbar {
    height: 6rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
}

.navbar__icon {
    padding-left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: flex-start;
}

.navbar__icon img {
    max-width: 13rem;
}

.navbar__menu {
    flex-grow: 20;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar__contact {
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__contact a {
    color: var(--pink);
    font-weight: bold;
}

.navbar__menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__menu__item__circle {
    width: 10px;
    height: 10px;
    margin-right: 1em;
    background-color: var(--pink);
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.34rem;
    font-weight: 300;
    letter-spacing: 2px;
}

nav a#active {
    font-weight: bold;
}

nav a#active::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #b80404;
    bottom: 10px;
    height: 8px;
    content: 'o';
    width: 8px;
    left: 50%;
}

.header-info {
    display: flex;
    flex-direction: row;
}

.header-info__devices {
    width: 57%;
    position: relative;
}

.header-info__devices #wave {

}
.header-info__devices #devices {
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: 10rem;
    width: 60%;
}


.header-info__text {
    width: 43%;
}

.header-info__text div {
    position: relative;
    padding-top: 12rem;
    z-index: 2;
    width: 90%;
    margin: auto;
    color: white;
}

.header-info__text h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.header-info__text p {
    width: 83%;
    text-align: justify;
    font-weight: lighter;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

/* BOTTOM DIVIDER */

.custom-shape-divider-bottom-1649629872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649629872 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1649629872 .shape-fill {
    fill: #FFFFFF;
}