/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* CUSTOM STYLES */
:root {
    --purple: #3A0CA3;
    --darker-purple: #3A0CA3;
    --pink: #F72585;
    --lighter-pink: rgba(247, 37, 133, 0.6);
    --blue: #3F37C9;
    --white-background: #FFFFFF;
}

body {
    background-color: var(--purple);
    font-family: 'Kanit';
}

.services {
    position: relative;
    padding: 3rem 13rem 10rem 13rem;
    background-color: var(--white-background);
}

.services h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--purple);
}

.services__header-line {
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 26rem;
    margin: auto;
}

.services__cards {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.services__cards__card {
    width: 23rem;
    color: var(--blue);
}

.services__cards__card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.services__cards__card__header i {
    color: var(--darker-purple);
}

.services__cards__card__header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--darker-purple);
}

.services__cards__card__text {
    padding: 1rem 2rem 0 2rem;
    font-size: 1.2rem;
    text-align: center;
    word-spacing: 0.2rem;
    line-height: 1.8;
}

.custom-shape-divider-bottom-1649647244 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649647244 svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 103px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649647244 .shape-fill {
    fill: var(--purple);
}

.our-projects {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 15rem;
    background-color: var(--purple);
}

.our-projects__header {

}

.our-projects__header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.our-projects__header__header-line {
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 18rem;
    margin: auto;
}

.our-projects__projects {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}

.our-projects__projects__project {
    width: 26rem;
}

.our-projects__projects__project img {
    max-width: 100%;
}

.custom-shape-divider-bottom-1649647325 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649647325 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 212px;
}

.custom-shape-divider-bottom-1649647325 .shape-fill {
    fill: var(--white-background);
}

.process {
    background-color: var(--white-background);
}

.process h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--purple);
}

.process__header-line {
    border-top: 7px solid var(--pink);
    border-radius: 1rem;
    width: 18rem;
    margin: auto;
}

.process__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.process__description__left {
    width: 50%;
}

.process__description__right {
    width: 50%;
}