<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('images/pp_logo.png') }}" type="image/x-icon" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <meta name="description" content="Moderní webové řešení na míru. To vše rychle, kvalitně a s lidským přístupem. Vyřešíme vše od designu webu přes SEO až po samotné vystavení webu na internet."/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-228721650-2">
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-228721650-2');
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block after_body_javascript %}
    {% endblock %}
</html>
