{% extends 'base.html.twig' %}

{% block title %}Pied Piper Web Solutions{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/main.css')}}"
{% endblock %}
{% block javascripts %}
{% endblock %}


{% block body %}
    <header>

    </header>
    <h1>Hello World!</h1>
{% endblock %}