{% extends 'base.html.twig' %}

{% block title %}Pied Piper Web Solutions{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}


{% block body %}
    <h1>Hello World!</h1>
{% endblock %}